<mat-card [formGroup]="form" fxLayout="column" fxLayoutAlign="start none">
    <span class="title" fxLayout="row" fxLayoutAlign="space-between center">
        <span>
            <span>{{fieldValue.name}}</span>
            <span *ngIf="fieldValue.required" class="is-required">*</span>
        </span>
    </span>
    <span class="description">{{fieldValue.description}}</span>
    <mat-form-field>
        <textarea formControlName="textValue" matInput placeholder="Texto" (input)="changeValuesForm()"
            (focusout)="emitSaveFieldEvent()"></textarea>
        <mat-error *ngIf="form.get('textValue').hasError('required')">Preenchimento obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
        <textarea formControlName="observation" matInput placeholder="Observação" (input)="changeValuesForm()"
            (focusout)="emitSaveFieldEvent()"></textarea>
    </mat-form-field>
</mat-card>